
@{
    ViewBag.Title = "Stack";
}

<h2>Stack</h2>



<!-- Sidebar-->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href=@Url.Action("Add", "Stack") class="w3-bar-item-w3-button">1. Add one time to stack</a><br />
    <a href=@Url.Action("AddList", "Stack") class="w3-bar-item-w3-button">2. Add huge list of items to stack</a><br />
    <a href=@Url.Action("Display", "Stack") class="w3-bar-item-w3-button">3. Display stack</a><br />
    <a href=@Url.Action("Delete", "Stack") class="w3-bar-item-w3-button">4. Delete from stack</a><br />
    <a href=@Url.Action("Clear", "Stack") class="w3-bar-item-w3-button">5. Clear stack</a><br />
    <a href=@Url.Action("Search", "Stack") class="w3-bar-item-w3-button">6. Search stack</a><br />
    <a href=@Url.Action("Index", "Home") class="w3-bar-item-w3-button">7. Return to Main Menu</a><br />

</div> 


<!-- Page Content -->
<div style="margin-left:30%">

    <div class="w3-container w3-teal">
        <h1>Results</h1>
    </div>

    <img src="~/Graphics/pancake.jpg" alt="Pancake" style="width:50%">

    <div class="w3-container">

        @if (ViewBag.MyStack != null) //add one item
        {
            <p>@ViewBag.MyStack</p>

        }

        @if (ViewBag.MyDisplayStack != null) //display stack
        {
            foreach (var sData in ViewBag.MyDisplayStack)

            {
                <p>@sData</p>
            }

        }

        @if (ViewBag.MyFatStack != null) //add 2000 items
        {
            <p>@ViewBag.MyFatStack</p>
        }

        @if (ViewBag.MyClearStack != null) //clear stack
        {
            <p>@ViewBag.MyClearStack</p>
        }


        @if (ViewBag.MyDeleteStack != null) //delete top item off stack
        {
            <p>@ViewBag.MyDeleteStack</p>
        }

        @if (ViewBag.MySearchStack != null) //search for New entry #3 in stack
        {
            if (ViewBag.MySearchStack == "New entry #3 found")
            {
                <p>@ViewBag.MySearchStack in @ViewBag.StopWatchStack</p>
            }
            else
            {
                <p>@ViewBag.MySearchStack</p>
            }

        }

    </div>

</div>
