
@{
    ViewBag.Title = "Dictionary";
}

<h2>Dictionary</h2>

<!-- Sidebar-->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href=@Url.Action("Add", "Dictionary") class="w3-bar-item-w3-button">1. Add one time to dictionary</a><br />
    <a href=@Url.Action("AddList", "Dictionary") class="w3-bar-item-w3-button">2. Add huge list of items to dictionary</a><br />
    <a href=@Url.Action("Display", "Dictionary") class="w3-bar-item-w3-button">3. Display dictionary</a><br />
    <a href=@Url.Action("Delete", "Dictionary") class="w3-bar-item-w3-button">4. Delete from dictionary</a><br />
    <a href=@Url.Action("Clear", "Dictionary") class="w3-bar-item-w3-button">5. Clear dictionary</a><br />
    <a href=@Url.Action("Search", "Dictionary") class="w3-bar-item-w3-button">6. Search dictionary</a><br />
    <a href=@Url.Action("Index", "Home") class="w3-bar-item-w3-button">7. Return to Main Menu</a><br />

</div>
<!-- Page Content -->
<div style="margin-left:25%">

    <div class="w3-container w3-teal">
        <h1>Results</h1>
    </div>

    <img src="~/Graphics/dictionary.jpg" alt="Dictionary" style="width:80%">


    <div class="w3-container">

        @if (ViewBag.MyDict != null) //add one item
        {
            <p>@ViewBag.MyDict</p>

        }

        @if (ViewBag.MyDisplayDict != null) //display Dict
        {
            foreach (var sData in ViewBag.MyDisplayDict)

            {
                <p>@sData</p>
            }

        }

        @if (ViewBag.MyFatDict != null) //add 2000 items
        {
            <p>@ViewBag.MyFatDict</p>
        }

        @if (ViewBag.MyClearDict != null) //clear Dict
        {
            <p>@ViewBag.MyClearDict</p>
        }


        @if (ViewBag.MyDeleteDict != null) //delete top item off Dict
        {
            <p>@ViewBag.MyDeleteDict</p>
        }

        @if (ViewBag.MySearchDict != null) //search for New entry #3 in Dict
        {
            if (ViewBag.MySearchDict == "New entry #3 found")
            {
                <p>@ViewBag.MySearchDict in @ViewBag.StopWatchDict</p>
            }
            else
            {
                <p>@ViewBag.MySearchDict</p>
            }

        }

    </div>

</div>